.divFormNewTask {
  width: 86%;
}
.formNewTask {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.inputNewTask {
  margin-right: 1%;
  width: 80%;
  height: 5.8vh;
  padding: 1%;
  transition: 0.3s ease-in-out;
}

.inputNewTask:hover {
  transition: 0.3s ease-in-out;
  border: 2px solid black;
}

.submitNewTask {
  width: 14%;
  height: 5.8vh;
  border: none;
  cursor: pointer;
  border-radius: 5%;
  transition: 0.3s ease-in-out;
  margin-left: 0.9%;
}

.submitNewTask:hover {
  transition: 0.3s ease-in-out;
  background-color: rgba(184, 184, 184, 0.562);
}

.clearDiv {
  width: 12%;
  margin-top: -0.2%;
}

.Clear {
  height: 5.8vh;
  border: none;
  cursor: pointer;
  border-radius: 5%;
  transition: 0.3s ease-in-out;
  margin-top: 16%;
  width: 100%;
}

.Clear:hover {
  transition: 0.3s ease-in-out;
  background-color: rgba(231, 28, 28, 0.684);
}

.imgUpdate {
  width: 3vh;
}

.divNewTask {
  display: flex;
  margin-top: 5%;
  border-top: 1px solid rgba(234, 232, 232, 0.586);
}

.allTasks {
  min-height: 71vh;
}

.allTasksAndInput {
  border: 1px solid black;
  box-shadow: 7px 7px 3px 0px rgba(0, 0, 0, 0.35);
  width: 35%;
  margin-top: 5%;
  margin-left: 31%;
  min-height: 75vh;
}

.task {
  display: flex;
  padding: 1%;
}

.inputsUD {
  display: flex;
  margin-top: 4%;
  margin-left: 5%;
}

.updateAndDeleteInput {
  height: 5vh;
  width: 6vh;
  font-size: 2vh;
  border: none;
  cursor: pointer;
  background-color: white;
}

.date {
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding: 0;
  background-color: rgba(37, 27, 236, 0.56);
  border-bottom: 1px solid black;
}

.check {
  width: 2.5vh;
  height: 2.5vh;
  margin-right: 5%;
}

.taskName {
  width: 70%;
  margin-left: 1%;
  font-size: 1.5vh;
  cursor: pointer;
  border-bottom: 1px solid rgba(234, 232, 232, 0.586);
}

.h1Task {
  margin-top: 5%;
  font-size: 4vh;
}

#deleteInput {
  position: absolute;
  margin-left: 1.5%;
  font-size: 4.1vh;
  margin-top: -0.6%;
  background-color: rgba(255, 255, 255, 0);
}

#lineTask {
  text-decoration: line-through;
  color: rgba(128, 128, 128, 0.603);
}

#updateButton {
  margin-left: 100%;
  width: 3.5vh;
  background-color: rgba(255, 255, 255, 0);
}

.divNewTask {
  margin-bottom: 5%;
}

@media only screen and (max-height: 640px) and (min-height: 360px) {
  .allTasksAndInput {
    width: 44vh;
    margin-left: 15%;
  }
  #updateButton {
    margin-left: 10%;
  }

  .h2Date {
    font-size: 2vh;
  }

  #deleteInput {
    margin-left: -8%;
  }

  .Clear {
    font-size: 1.8vh;
  }

  .submitNewTask {
    font-size: 1.5vh;
  }

  .inputNewTask {
    font-size: 1.5vh;
  }

  .h1Task {
    font-size: 2vh;
  }

  #updateButton {
    width: 3vh;
  }
  #btnUpdate {
    background-color: rgba(255, 255, 255, 0);
  }
  .divFormNewTask {
    width: 85%;
  }
  .clearDiv {
    width: 13%;
    margin-top: -0.3%;
  }

  .Clear {
    width: 100%;
    font-size: 1.5vh;
  }
  #deleteInput {
    font-size: 3.5vh;
    background-color: rgba(255, 255, 255, 0);
  }
}

@media only screen and (max-height: 896px) and (min-height: 414px) {
  .allTasksAndInput {
    width: 44vh;
    margin-left: 7%;
  }
  #updateButton {
    margin-left: 10%;
  }

  .h2Date {
    font-size: 2vh;
  }

  #deleteInput {
    margin-left: -8%;
  }

  .Clear {
    font-size: 1.8vh;
  }

  .submitNewTask {
    font-size: 1.5vh;
  }

  .inputNewTask {
    font-size: 1.5vh;
    width: 65%;
  }

  .submitNewTask {
    width: 20%;
  }

  .h1Task {
    font-size: 2vh;
  }

  #updateButton {
    width: 3vh;
  }
  #btnUpdate {
    background-color: rgba(255, 255, 255, 0);
  }
  .divFormNewTask {
    width: 85%;
  }
  .clearDiv {
    width: 17%;
    margin-top: -0.8%;
    margin-left: -5%;
  }

  .Clear {
    width: 100%;
    font-size: 1.5vh;
  }
  #deleteInput {
    font-size: 3.5vh;
    background-color: rgba(255, 255, 255, 0);
  }
}
